TAVILY_API_KEY=...

# To separate your traces from other application
LANGSMITH_PROJECT=react-agent
LANGSMITH_API_KEY=XX
# If using a Europe region in LangSmith, keep uncommented
# Comment for US region
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# If hitting issues with org id and workspace 
# Get this value in LangSmith home
# LANGSMITH_ORGANIZATION_ID=XX
# LANGSMITH_WORKSPACE_ID=xx

# The following depend on your selected configuration
OPENROUTER_API_KEY=...

## LLM choice:
ANTHROPIC_API_KEY=....
FIREWORKS_API_KEY=...
OPENAI_API_KEY=...
